.custom-salary-bg {
    background: #e7873b;
  }
  .salary-bottom-line {
    background: #dadada;
    height: 0.2px;
  }
  .custom-home-bg {
    background-color: #555; /* Replace with your desired background color */
  }
  