/* Maintain.css */

.custom-maintain-bg {
  background: #e7873b;
}

.maintain-list {
  display: flex;
  align-items: center; /* Align items vertically in the same row */
}

.dropdown {
  margin-left: 20px; /* Adjust margin as needed */
  position: relative;
}

.dropbtn {
  background-color: #e7873b;
  color: white;
  padding: 10px 16px; /* Adjust padding as needed */
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: cyan;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e7873b;
}
